/*
textview {
  font-size: 16px;
  line-height: 1.2;
}
*/


gridview {
  background-color: transparent;
}

listview {
  background-color: transparent;
}

.navigation-sidebar > row  {
  margin-bottom: 0px;
}

.multiline_content {
  background-color: transparent;
}

.scriptorium-scene-card {
  border-radius: 0;
  background-color: var(--popover-bg-color);
  padding: 6px;
  box-shadow: 0 2px 4px var(--headerbar-shade-color);
  margin: 2px;
}

.scriptorium-scene-card-list {
  background: transparent;
}

.scriptorium-chapter-column {
  background-color: var(--secondary-sidebar-bg-color);
}

.annotation-error {
  color: #e01b24;
}

.annotation-warning {
  color: #f5c211;
}

.annotation-hint {
  color: #62a0ea;
}


.themeselector {
  margin: 3px;
}
.themeselector checkbutton {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px var(--border-color);

  --light-bg: #fff;
  --dark-bg: #202020;
}
.themeselector checkbutton.follow:checked,
.themeselector checkbutton.light:checked,
.themeselector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px var(--accent-bg-color);
}
.themeselector checkbutton.follow {
  background-image: linear-gradient(to bottom right, var(--light-bg) 49.99%, var(--dark-bg) 50.01%);
}
.themeselector checkbutton.light {
  background-color: var(--light-bg);
}
.themeselector checkbutton.dark {
  background-color: var(--dark-bg);
}
.themeselector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}
.themeselector checkbutton radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

