/*
textview {
  font-size: 16px;
  line-height: 1.2;
}
*/


gridview {
  background-color: transparent;
}

listview {
  background-color: transparent;
}

.multiline_content {
  background-color: transparent;
}

.scriptorium-scene-card {
  border-radius: 0;
  background-color: var(--popover-bg-color);
  padding: 6px;
  box-shadow: 0 2px 4px var(--headerbar-shade-color);
  margin: 2px;
}

.scriptorium-scene-card-list {
  background: transparent;
}

.scriptorium-chapter-column {
  background-color: var(--secondary-sidebar-bg-color);
}

