textview {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 1.2;
  background-color: white;
}

frame {
    background-color: white;
}

.sidebar-pane {
    padding: 12px 12px 0px 12px;
}

listview {
  background-color: transparent;
}

list {
  background-color: transparent;
}

listview .card {
    padding: 6px 6px 6px 6px;
}

listview row {
    margin: 4px 0;
}

#content {
  margin-left: 12px;
  margin-right: 12px;
}


/*

#bar_status {
  min-height: 46px;
}


.navigation-sidebar {
    padding: 6px 6px 0px 6px;
    background-color: transparent;
}

.card-sidebar {
    background-color: transparent;
}


.card-sidebar row {
    margin: 4px 0;
}

.card-sidebar .card {
    background-color: @theme_bg_color;
    transition: background-color 0.3s;
}

.card-sidebar .card:hover {
    background-color: @theme_hover_bg_color;
}
*/
