textview {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 1.2;
}

frame {
    background-color: white;
}

#content {
  margin-left: 12px;
  margin-right: 12px;
}

#bar_status {
  min-height: 46px;
}

.overlay {
  padding: 12px;
}

.card-sidebar {
    padding: 8px;
    background-color: transparent;
}

.card-sidebar .card {
    padding: 6px 6px 6px 6px;
}

.card-sidebar row {
    margin: 4px 0;
}

.card-sidebar .card {
    background-color: @theme_bg_color;
    transition: background-color 0.3s;
}

.card-sidebar .card:hover {
    background-color: @theme_hover_bg_color;
}

